<main>
  <div class="calendar-container">
    <div class="calendar-header">
      <button class="btn-primary" (click)="changeMonth(-1)">Anterior</button>

      <h2>{{ currentMonthName }} {{ currentYear }}</h2>

      <button class="btn-primary" (click)="changeMonth(1)">Siguiente</button>
    </div>

    <div class="calendar-grid">
      <!-- Rellenar los días hasta el primer día del mes -->
      <div *ngFor="let _ of [].constructor(firstDayOfWeek)"></div>

      <!-- Mostrar los días del mes -->
      <div *ngFor="let day of daysInMonth" class="day-card card">
        <h3>{{ day }}</h3>
        <div *ngFor="let concert of getConcertsForDay(day)">
          <p><strong>{{ concert.name }}</strong></p>
          <p>{{ concert.place }}</p>
          <p>{{ concert.hour }}</p>
        </div>
      </div>
    </div>
  </div>
</main>
