<main>
  <h1>{{ title }}</h1>


  <div class="calendar-container">
    <div class="calendar-header">
      <button class="btn-primary btn-month" (click)="changeMonth(-1)">Mes anterior</button>

      <h2>{{ currentMonthName }} {{ currentYear }}</h2>

      <button class="btn-primary btn-month" (click)="changeMonth(1)">mes siguiente</button>
    </div>


    <div class="calendar-grid mt-5" *ngIf="events && events.length > 0">
      <div *ngFor="let day of ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']"
        class="day-header">
        {{ day }}

      </div>

      <!-- Rellenar los días hasta el primer día del mes -->
      <div *ngFor="let _ of [].constructor(firstDayOfWeek)"></div>

      <!-- Mostrar los días del mes -->
            <div *ngFor="let day of daysInMonth" class="day-card card" >
        <h3 class="day">{{ day }}</h3>
        <div *ngFor="let event of getEventsForDay(day)">
          <p class="fs-5"><strong>{{ event.title || (event.subject?.name) || (event.instrument?.name)}}</strong></p>
          <p *ngIf="event.teacher"><strong>{{ event.teacher }}</strong></p>
          <p *ngIf="event.classroom"><strong>Aula:</strong> </p>
          <p> {{ event.classroom }}</p>
          <p *ngIf="event.place"><strong>Lugar:</strong></p>
          <p> {{ event.place }}</p>
          <p *ngIf="event.hour"><strong>Hora: </strong> </p>
          <p>{{ event.hour }}h</p>
        </div>
      </div>

<!--       <div *ngFor="let day of daysInMonth" class="day-card card" (click)="editDay(day)" >
        <h3 class="day">{{ day }}</h3>
        <div *ngFor="let event of getEventsForDay(day)">
          <p class="fs-5"><strong>{{ event.title || (event.subject?.name) || (event.instrument?.name)}}</strong></p>
          <p *ngIf="event.teacher"><strong>{{ event.teacher }}</strong></p>
          <p *ngIf="event.classroom"><strong>Aula:</strong> </p>
          <p> {{ event.classroom }}</p>
          <p *ngIf="event.place"><strong>Lugar:</strong></p>
          <p> {{ event.place }}</p>
          <p *ngIf="event.hour"><strong>Hora: </strong> </p>
          <p>{{ event.hour }}h</p>
        </div>
      </div> -->

    </div>

    <div *ngIf="events == undefined " class="text-center">
      <p>No hay eventos para este mes</p>
    </div>

  </div>
</main>
