@import 'src/styles.scss';


$card-height: 230px;

h1 {
  margin-bottom: 20px;
  text-align: center;
}
.btn-month {
  padding: 5px 10px;
  font-size: 0.8rem;
}
.calendar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;


  .calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;

  }

  .day-header {
      text-align: center;
      font-weight: bold;
      color:  $color-primary;
      font-size: 1.2rem;

    }

    .empty-slot {
      background-color: transparent;
    }

  .day-card {
    transition: transform 0.2s;
    height: $card-height;
    justify-content: space-between;
    &:hover {
      transform: translateY(-5px);
    }

    .day {
      font-size: 1.2rem;
      font-weight: bold;
      color: $color-primary;
    }

    p {
      margin: 0 0;
      font-size: 0.85rem;
    }

    strong {
      color: $color-primary;
    }
  }



}
