@import 'src/styles.scss';

$card-height: 200px;

.calendar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;


  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 70px;

    button {
      padding: 10px 20px;
      background-color: $color-primary;
      border: none;
      color: $color-contrast;
      cursor: pointer;
      transition: background-color 0.3s;
      border-radius: 5px;

      &:hover {
        background-color: $color-darkPrimary;
        font-weight: bold;
      }
    }
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 30px;
  }

  .day-card {
    background-color: $color-contrastLight;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: $card-height;
    display: flex; // centra el contenido
    flex-direction: column ; // aplida el contenido de arriba a abajo
    justify-content: space-between; // mantener espaciado uniforme
    &:hover {
      transform: translateY(-5px);
    }

    .day {
      font-size: 1.3rem;
      font-weight: bold;
      color: $color-primary;
    }

    p {
      margin: 4px 0;
      color: $color-text;
      font-size: 0.85rem;
    }

    strong {
      color: $color-primary;
    }
  }
}
