@import 'src/styles.scss';

$card-height: 200px;

h1 {
  margin-bottom: 20px;
  text-align: center;  /* Centra el título */
}
.btn-month {
  padding: 5px 10px; // Tamaño reducido
  font-size: 0.8rem; // Fuente más pequeña
}
.calendar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;


  .calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 70px;
    gap: 20px;
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 30px;
  }

  .day-card {
    background-color: $color-contrastLight;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: $card-height;
    display: flex; // centra el contenido
    flex-direction: column ; // aplida el contenido de arriba a abajo
    justify-content: space-between; // mantener espaciado uniforme
    &:hover {
      transform: translateY(-5px);
    }

    .day {
      font-size: 1.3rem;
      font-weight: bold;
      color: $color-primary;
    }

    p {
      margin: 4px 0;
      font-size: 0.85rem;
    }

    strong {
      color: $color-primary;
    }
  }
}

/* Estilos responsivos */
/* @media (max-width: 1024px) {
  .calendar-container {
    .calendar-header {
      gap: 10px;

      h2 {
        font-size: 2.0rem;
      }

      button {
        padding: 8px 15px;
        font-size: 0.9rem;
      }
    }

    .calendar-grid {
      gap: 8px;
    }

    .day-card {
      height: 180px;
      padding: 10px;
    }
  }
}

@media (max-width: 768px) {
  .calendar-container {
    .calendar-header {
      flex-direction: column;
      gap: 8px;

      h2 {
        font-size: 2rem;
      }
    }

    .calendar-grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 6px;
    }

    .day-card {
      height: 160px;
    }
  }
}

@media (max-width: 480px) {
  .calendar-container {
    .calendar-header {
      h2 {
        font-size: 1rem;
      }

      button {
        padding: 6px 12px;
        font-size: 0.8rem;
      }
    }

    .calendar-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
    }

    .day-card {
      height: 140px;
      padding: 8px;
      .day {
        font-size: 1.1rem;
      }
      p {
        font-size: 0.75rem;
      }
    }
  }
}
 */
