@import 'src/styles.scss';

.hero-section {
  background-image: url("/assets/pics/fondo.jpg") !important;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-section::before {
  content: ""; /* Crea un pseudo-elemento */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(211, 213, 160, 0.7);
  z-index: 1; /* Asegura que el pseudo-elemento esté detrás del contenido */
}

.hero-section .container {
  position: relative; /* Posicionamiento relativo para el texto */
  z-index: 2; /* Asegura que el texto esté por encima del fondo */
}

