@import "src/styles.scss";

.container {
  max-width: 400px;
  //margin-top: 80px;
  padding: 3rem;
  background-color: $color-contrastLight;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 6rem auto;
}

h2 {
  color: $color-primary;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.8rem;
}
.form-group label {
  font-weight: bold;
  color: $color-darkPrimary;
}
.form-group label {
  font-weight: bold;
  color: $color-darkPrimary;
}
.form-control {
  font-family: $font-style;
  border: 1px solid $color-primary;
  border-radius: 4px;
  background-color: $color-secondary;
  color: $color-text;
  padding: 0.5rem;
  font-size: 1rem;
}

.form-control::placeholder {
  color: lighten($color-text, 40%); /* Color más claro para el placeholder */
  font-style: italic;
}

.form-control:focus {
  border-color: $color-darkPrimary;
  // box-shadow: 0 0 0 0.2rem rgba(#6d85a8, 0.25);
}
/* Mensajes de error */
.text-danger {
  font-size: 0.875rem;
  font-style: italic;
  color: #e76f51; /* Acento para los errores */
}

/* Botón de envío */
.btn-primary {
  width: 100%;
  background-color: $color-primary;
  border-color: $color-primary;
  color: $color-contrast;
    font-weight: bold;
  padding: 0.5rem;
  font-size: 1rem;
  transition: background-color 0.3s, font-weight 0.3s;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: $color-darkPrimary;
  font-weight: bold;
  color: $color-contrast;
}
/* Ajustes de espaciado */
.form-group {
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

/* .text-muted {
  color: lighten($color-text, 20%);
  font-size: 0.875rem;
}
 */
