

<div *ngIf="isLoading" class="loading-container text-center">
  <img src="assets/pics/loading.gif" alt="Cargando..." />
  <p>Cargando datos...</p>
</div>
<div *ngIf="!isLoading">

 <!--  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="filterConcerts()" placeholder="Buscar conciertos..." />
  </div>
 -->
  <app-calendar [events]="concerts" title="Calendario de conciertos"></app-calendar>

  <!--   <app-calendar [events]="filteredConcerts" title="Calendario de conciertos" >
    </app-calendar> -->

</div>
