<!-- <div class="calendar-container">
  <div class="calendar-header">
    <button (click)="viewDate = addDays(viewDate, -1)">Anterior</button>
    <button (click)="viewDate = addDays(viewDate, 1)">Siguiente</button>
  </div>
  <mwl-calendar-month-view [viewDate]="viewDate" [events]="events">
  </mwl-calendar-month-view>
</div>
 -->

<div class="calendar-container">
  <div class="calendar-header">
    <button class="btn-primary" (click)="viewDate = addDays(viewDate, -1)">Anterior</button>
    <button class="btn-primary" (click)="viewDate = addDays(viewDate, 1)">Siguiente</button>
  </div>
  <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [headerTemplate]="headerTemplate"
    [cellTemplate]="cellTemplate">
  </mwl-calendar-month-view>

  <ng-template #headerTemplate let-date="date">
    <div class="cal-header">
      {{ date | date: 'MMMM yyyy' }}
    </div>
  </ng-template>

  <ng-template #cellTemplate let-day="day">
    <div class="cal-cell">
      <div class="cal-cell-number">{{ day.date | date: 'd' }}</div>
      <div class="cal-cell-events">
        <div *ngFor="let event of day.events" class="cal-event">
          {{ event.title }}
        </div>
      </div>
    </div>
  </ng-template>
</div>
