<main class="main-content">

  <div *ngIf="isLoading" class="loading-container text-center">
    <img src="assets/pics/loading.gif" alt="Cargando estudiantes..." />
    <p>Cargando estudiantes...</p>
  </div>

  <div *ngIf="!isLoading" class="content-header d-flex justify-content-between align-items-center">
    <h1>Gestión de Estudiantes</h1>
    <button class="btn btn-agregar" (click)="addStudent()">Agregar Estudiante</button>
  </div>

  <!-- Tabla de estudiantes -->
  <table class="table table-hover table-striped mt-4">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students; let i = index">
        <td>{{ i + 1 }}</td>
        <td class="text-start">{{ student.name }}</td>
        <td class="text-start">{{ student.lastname }}</td>
        <td>{{ student.email }}</td>
        <td>
          <div class="d-flex gap-1">
            <button class="btn btn-primary btn-sm" (click)="editStudent(student.id)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="deleteStudent(student.id)">Eliminar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</main>
