<div class="admin-container">
  <!-- Barra lateral -->
  <nav class="sidebar">
    <div class="logo">
      <h2>Admin Panel</h2>
    </div>
    <!-- crear los botones con a y href -->
    <div class="nav-item">
      <button class="btn btn-primary" [routerLink]="['/admin/concert-admin']">Conciertos</button>
    </div>
    <div class="nav-item">
      <button class="btn btn-primary" (click)="switchTab('rehearsals')">Ensayos</button>
    </div>
    <div class="nav-item">
      <button class="btn btn-primary" (click)="switchTab('courses')">Cursos</button>
    </div>
    <div class="nav-item">
      <button class="btn btn-primary" (click)="switchTab('exams')">Exámenes</button>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
