<div class="admin-container">
  <!-- Barra lateral -->
  <nav class="sidebar">
    <div class="logo">
      <h2>Admin Panel</h2>
    </div>
    <!--  botones  -->
    <div class="nav-item">
      <div class="nav-item">
        <button class="btn btn-primary" [routerLink]="['/admin/user-admin']">Usuarios</button>
      </div>
      <button class="btn btn-primary" [routerLink]="['/admin/concert-admin']">Conciertos</button>
    </div>
    <div class="nav-item">
      <button class="btn btn-primary" [routerLink]="['/admin/rehearsal-admin']">Ensayos</button>
    </div>
      <div class="nav-item">
        <button class="btn btn-primary" [routerLink]="['/admin/subject-admin']">Asignaturas</button>
      </div>
        <div class="nav-item">
          <button class="btn btn-primary" [routerLink]="['/admin/instrument-admin']">Instrumentos</button>
        </div>
    <div class="nav-item">
      <button class="btn btn-primary" [routerLink]="['/admin/course-admin']">Cursos</button>
    </div>
    <div class="nav-item">
      <button class="btn btn-primary" >Exámenes</button>
    </div>
  </nav>

    <!-- Contenedor central -->
 <!--  <div class="main-content d-flex justify-content-center align-items-center flex-column">
    <div class="logo-container text-center">

        <h1 class="panel-title">Panel de Administrador</h1>
        <img src="assets/logo/logo.png" alt="Logo" class="logo-img mb-3">
      </div>
    </div> -->

  <router-outlet></router-outlet>

</div>
