<!-- Contenido principal -->
<main class="main-content">

  <div *ngIf="isLoading"  class="loading-container text-center">
    <img src="assets/pics/loading.gif" alt="Cargando..." />
    <p>Cargando datos...</p>
  </div>


  <div *ngIf="!isLoading"  class="content-header d-flex justify-content-between align-items-center">
    <h1> Ensayos </h1>
    <button class="btn btn-agregar" [routerLink]="['/admin/rehearsals-form']">Agregar</button>
  </div>

  <!-- Tabla dinámica -->
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Lugar</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of currentList; let i = index">
        <td>{{ i + 1 }}</td>
        <td class="text-start">{{ item.place }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.hour }}</td>
        <td>
          <div class="d-flex gap-1">
            <button class="btn btn-primary btn-sm" [routerLink]="['/admin/rehearsals-form', item.id]">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="deleteRehearsal(item.id)">Eliminar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</main>
