<div *ngIf="isLoading" class="loading-container text-center">
  <img src="assets/pics/loading.gif" alt="Cargando..." />
  <p>Cargando datos...</p>
</div>


<div *ngIf="!isLoading"  class="card mt-4">
  <div class="card-body">
    <h3>{{ isEditMode ? 'Editar Ensayo' : 'Agregar Ensayo' }}</h3>
    <form (ngSubmit)="saveRehearsal()">


      <div class="mb-3">
        <label for="place" class="form-label">Lugar</label>
        <select id="place" class="form-control" [(ngModel)]="rehearsal.place" name="place" required>
          <option value="Auditorio">Auditorio</option>
          <option value="Sala de ensayo">Sala de Ensayos</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="date" class="form-label">Fecha</label>
        <input id="date" type="date" class="form-control" [(ngModel)]="rehearsal.date" name="date" required />
      </div>
      <div class="mb-3">
        <label for="hour" class="form-label">Hora</label>
        <input id="hour" type="time" class="form-control" [(ngModel)]="rehearsal.hour" name="hour" required />
      </div>
      <button class="btn btn-success" type="submit">Guardar</button>
      <button class="btn btn-secondary ms-2" type="button" (click)="closeForm()">Cancelar</button>
    </form>
  </div>
</div>
