<div *ngIf="isLoading" class="loading-container text-center">
  <img src="assets/pics/loading.gif" alt="Cargando..." />
  <p>Cargando datos...</p>
</div>

<div *ngIf="!isLoading" class="card mt-4 mx-auto">
  <div class="card-body">
    <h3>{{ isEditMode ? 'Editar Usuario' : 'Agregar Usuario' }}</h3>

    <form (ngSubmit)="saveUser()">
      <!-- Campo de Nombre -->
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input id="name" type="text" class="form-control" [(ngModel)]="user.name" name="name" required />
      </div>

      <!-- Campo Apellidos -->
      <div class="mb-3">
        <label for="lastname" class="form-label">Apellidos</label>
        <input id="lastname" type="text" class="form-control" [(ngModel)]="user.lastname" name="lastname"
          [required]="!isEditMode" />
      </div>

      <!-- Campos adicionales solo para la creación de un nuevo usuario -->

        <!-- Campo DNI -->
        <div class="mb-3" *ngIf="!isEditMode">
          <label for="dni" class="form-label">DNI</label>
          <input id="dni" type="text" class="form-control" [(ngModel)]="user.dni" name="dni" [required]="!isEditMode"  />
        </div>

        <!-- Campo de Email -->
        <div class="mb-3" *ngIf="!isEditMode">
          <label for="email" class="form-label">Email</label>
          <input id="email" type="email" class="form-control" [(ngModel)]="user.email" name="email"/>
        </div>

          <!-- Campo Teléfono -->
          <div class="mb-3">
            <label for="phone" class="form-label">Teléfono</label>
            <input id="phone" type="text" class="form-control" [(ngModel)]="user.phone" name="phone" [required]="!isEditMode" />
          </div>

        <!-- Campo Tipo de Usuario -->
        <div class="mb-3">
          <label for="userType" class="form-label">Tipo usuario</label>
          <select id="userType" class="form-control" [(ngModel)]="user.user_type" name="userType" required>
            <option value="musician">Músico</option>
            <option value="member">Socio</option>
            <option value="teacher">Profesor</option>
          </select>
        </div>

        <!-- Campo Dirección -->
        <div class="mb-3">
          <label for="address" class="form-label">Dirección</label>
          <input id="address" type="text" class="form-control" [(ngModel)]="user.address" name="address"
            [required]="!isEditMode" />
        </div>

        <!-- Campo Población -->
        <div class="mb-3">
          <label for="city" class="form-label">Población</label>
          <input id="city" type="text" class="form-control" [(ngModel)]="user.city" name="city"
            [required]="!isEditMode" />
        </div>

        <!-- Campo Código Postal -->
        <div class="mb-3">
          <label for="postal_code" class="form-label">Código Postal</label>
          <input id="postal_code" type="text" class="form-control" [(ngModel)]="user.postal_code" name="postal_code"
            [required]="!isEditMode" />
        </div>

        <!-- Campo Fecha de Nacimiento -->
        <div class="mb-3" *ngIf="!isEditMode">
          <label for="birth_date" class="form-label">Fecha de Nacimiento</label>
          <input id="birth_date" type="date" class="form-control" [(ngModel)]="user.birth_date" name="birth_date"
            required />
        </div>

        <!-- Campo Contraseña -->
        <div class="mb-3" *ngIf="!isEditMode">
          <label for="password" class="form-label">Contraseña</label>
          <input id="password" type="password" class="form-control" [(ngModel)]="user.password" name="password"
            required />
        </div>


      <!-- Botones de acción -->
      <button class="btn btn-success" type="submit">Guardar</button>
      <button class="btn btn-secondary ms-2" type="button" (click)="closeForm()">Cancelar</button>
    </form>
  </div>
</div>
