<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logotipo -->
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="Academia de Música Logo" width="100" height="100"
        class="d-inline-block align-middle me-2">
      Batuta Gestión
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/ensayos">Ensayos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/actuaciones">Actuaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clases">Clases</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <!-- Mostrar solo si el usuario NO está logueado -->
        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        </ng-container>

        <!-- Mostrar solo si el usuario ESTÁ logueado -->
        <li (click)="logout()" class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" href="/dashboard">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
