$color-primary: #6d85a8 !important;
$color-secondary: #f8f9fa !important;
$color-contrast: #d3d5a0 !important;
$color-darkPrimary: #4b6584;
$color-text: #333333;

/* NAVBAR */
.navbar {
  //background-color: white;
  background-color: $color-primary;
}

/* Estilo enlaces */
.navbar-nav .nav-link {
  color: $color-contrast;
}

/* hover */
.navbar-nav .nav-link:hover {
  color: $color-contrast;
  font-weight: bold;
}

.nav-link.yellow-bg {
  background-color: $color-primary;
  color: $color-contrast;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/* Estilo para el logotipo */
.navbar-brand img {
  width: 90px;
  height: auto;
}
