@import "src/styles.scss";

/* NAVBAR */
.navbar {

  background-color: $color-primary;
  padding: 0 10px;
  margin: 0;

}

/* Estilo enlaces */
.navbar-nav .nav-link {
  color: $color-contrast;
  color: $color-contrast;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

/* hover */
.navbar-nav .nav-link:hover {
  color: $color-contrast;
  font-weight: bold;
}


.nav-link.yellow-bg {
  background-color: $color-primary;
  color: $color-contrast;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

/* Estilo para el logotipo */
.navbar-brand img {
  width: 90px;
  height: auto;
}
