<main class="main-content">

<div *ngIf="isLoading" class="loading-container text-center">
  <img src="assets/pics/loading.gif" alt="Cargando..." />
  <p>Cargando datos...</p>
</div>


  <div *ngIf="!isLoading" class="content-header d-flex justify-content-between align-items-center">

    <h1>Asignaturas</h1>
    <button class="btn btn-agregar" [routerLink]="['/admin/subject-form']">Agregar</button>
</div>

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Nivel</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of subjectsList; let i = index">
          <td>{{ i + 1 }}</td>
          <td class="text-start">{{ subject.name }}</td>
          <td>{{ subject.level }}</td>
          <td>
            <div class="d-flex gap-1">
              <button class="btn btn-primary btn-sm" [routerLink]="['/admin/subject-form', subject.id]">Editar</button>
              <button class="btn btn-danger btn-sm" (click)="deleteSubject(subject.id, subject.name)">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</main>
