<div *ngIf="isLoading" class="loading-container text-center">
  <img src="assets/pics/loading.gif" alt="Cargando..." />
  <p>Cargando datos...</p>
</div>


<div *ngIf="!isLoading" class="card mt-4">
  <div class="card-body">
    <h3>{{ isEditMode? 'Editar Asignatura' : 'Agregar Asignatura' }}</h3>
    <form (ngSubmit)="saveSubject()">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input id="name" type="text" class="form-control" [(ngModel)]="subject.name" name="name" required />
      </div>
      <div class="mb-3">
        <label for="level" class="form-label">Nivel</label>
        <input id="level" type="text" class="form-control" [(ngModel)]="subject.level" name="level" required />
      </div>
      <button class="btn btn-success" type="submit">Guardar</button>
      <button class="btn btn-secondary ms-2" type="button" (click)="closeForm()">Cancelar</button>
    </form>
  </div>
</div>
