<div class="container mt-5">
  <h2 class="text-center mb-4">Gestión de Conciertos</h2>

  <!-- Botón para abrir formulario de agregar -->
  <button class="btn btn-primary mb-3" (click)="abrirFormulario()">
    Agregar Concierto
  </button>

  <!-- Tabla de conciertos -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Título</th>
        <th>Lugar</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let concert of concerts; let i = index">
        <td>{{ concert.id }}</td>
        <td>{{ concert.title }}</td>
        <td>{{ concert.place }}</td>
        <td>{{ concert.date }}</td>
        <td>{{ concert.hour }}</td>
        <td>
          <button class="btn btn-primary btn-sm me-2" (click)="editarConcert(concert)">
            Editar
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteConcert(concert.id)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Formulario de edición, solo se muestra si hay un concierto seleccionado -->
 
  <app-concerts-form *ngIf="isFormVisible" [selectedConcert]="selectedConcert"
      (cerrarFormulario)="cerrarFormulario()"></app-concerts-form>
</div>
