@import "src/styles.scss";

footer {
  background-color: $color-primary;
  color: $color-secondary;
  width: 100%; 
  margin: 0;
  padding: 0.5rem 0;
}

footer .container {
  padding: 0;
}

footer h5,
footer p {
  color: #e1e3a5 !important;
}

footer h5 {
  color: $color-contrast;
  font-weight: bold;
}
