@import 'src/styles.scss';

footer {
  background-color: $color-primary;
  color: $color-secondary;
}

footer h5,
footer p {
  color: #e1e3a5 !important;
}

footer h5 {
  color: $color-contrast;
  font-weight: bold;
}
