<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Academia de Música Batuta</h5>
        <p>
          Dirección: Calle Principal 123, Ciudad de la Música <br>
          Teléfono: +123 456 7890 <br>
          Email: info&#64;batuta.com
        </p>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0 text-end">
        <p>
          &copy; {{ currentYear }} Academia de Música Batuta. Todos los derechos reservados.
        </p>
      </div>
    </div>
  </div>
</footer>

