
<div *ngIf="isLoading" class="loading-container text-center">
  <img src="assets/pics/loading.gif" alt="Cargando..." />
  <p>Cargando datos...</p>
</div>

<div *ngIf="!isLoading" class="note-editor-container container mt-5">
  <h3 class="text-center text-primary">Editor de Apuntes</h3>
  <form class="mb-4" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <input [(ngModel)]="note.title" name="title" class="form-control" placeholder="Title" required />
    </div>
    <div class="mb-3">
      <input [(ngModel)]="note.topic" name="topic" class="form-control" placeholder="Topic" required />
    </div>
    <div class="mb-3">
      <textarea [(ngModel)]="note.content" name="content" class="form-control" placeholder="Content"
        required></textarea>
    </div>

  
    <!-- Asignatura -->
    <div class="mb-3">
      <label for="subject_id" class="form-label">Asignatura</label>
      <select id="subject_id"  class="form-select" [(ngModel)]="note.subject_id" name="subject_id"
       (change)="disableInstrumentSelect()" *ngIf="asignaturas.length > 0">
        <option value="" disabled selected>Seleccionar asignatura</option>
        <option *ngFor="let subject of asignaturas" [value]="subject.id">
          {{ subject.name }}
        </option>
      </select>
    </div>

    <!-- Instrumento -->
    <div class="mb-3">
      <label for="instrument_id" class="form-label">Instrumento</label>
      <select id="instrument_id"  class="form-select" [(ngModel)]="note.instrument_id" name="instrument_id"
      (change)="disableSubjectSelect()" *ngIf="instrumentos.length > 0">
        <option value="" disabled selected>Seleccionar instrumento</option>
        <option *ngFor="let instrument of instrumentos" [value]="instrument.id">
          {{ instrument.name }}
        </option>
      </select>
    </div>

    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-primary w-25" [disabled]="!note.subject_id && !note.instrument_id">Guardar apunte</button>

    </div>
  </form>
  <button (click)="previewPdf()" class="btn btn-primary">Previsualizar</button>
</div>
