<div *ngIf="isLoading" class="loading-container text-center">
  <img src="assets/pics/loading.gif" alt="Cargando..." />
  <p>Cargando datos...</p>
</div>


<div *ngIf="!isLoading" class="note-editor-container container mt-5">
      
  <h3 class="text-center text-primary">{{ isEditMode ? 'Editar Apuntes' : 'Crear Apuntes' }}</h3>
  <form #noteForm="ngForm" class="mb-4" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <input [(ngModel)]="note.title" name="title" class="form-control" placeholder="Title" required #title="ngModel" />

      <div *ngIf="title.invalid && title.touched" class="text-danger">
        El título es obligatorio.
      </div>
    </div>
    <div class="mb-3">
      <input [(ngModel)]="note.topic" name="topic" class="form-control" placeholder="Topic" required #topic="ngModel" />

      <div *ngIf="topic.invalid && topic.touched" class="text-danger">
        El tema es obligatorio.
      </div>
    </div>

    <div class="mb-3">
      <textarea [(ngModel)]="note.content" name="content" class="form-control" placeholder="Content" required
        #content="ngModel">
      </textarea>

      <div *ngIf="content.invalid && content.touched" class="text-danger">
        El contenido es obligatorio.
      </div>
    </div>


    <!-- Asignatura -->
    <div class="mb-3" *ngIf="asignaturas.length > 0">
      <label for="subject_id" class="form-label">Asignatura</label>
      <select id="subject_id" class="form-select" [(ngModel)]="note.subject_id" name="subject_id"
        (change)="disableInstrumentSelect()" *ngIf="asignaturas.length > 0" [required]="!note.instrument_id"
        #subject="ngModel">
        <option value="" disabled >Seleccionar asignatura</option>
        <option *ngFor="let subject of asignaturas" [value]="subject.id">
          {{ subject.name }}
        </option>
      </select>
    </div>

    <!-- Instrumento -->
    <div class="mb-3" *ngIf="instrumentos.length > 0">
      <label for="instrument_id" class="form-label">Instrumento</label>
      <select id="instrument_id" class="form-select" [(ngModel)]="note.instrument_id" name="instrument_id"
        (change)="disableSubjectSelect()" *ngIf="instrumentos.length > 0" [required]="!note.subject_id"
        #instrument="ngModel">
        <option value="" disabled >Seleccionar instrumento</option>
        <option *ngFor="let instrument of instrumentos" [value]="instrument.id">
          {{ instrument.name }}
        </option>
      </select>
    </div>

    <div class="d-flex justify-content-between">

      <button type="submit" class="btn btn-primary w-25" [disabled]="isSubmitDisabled">Guardar apunte</button>

    </div>
  </form>
  <button (click)="previewPdf()" class="btn btn-primary">Previsualizar</button>
</div>
